{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'locations/style.css' %}" />

<h1>Buses</h1>

{% if vehicle_list %}
    <ul>
    {% for vehicle in vehicle_list %}
        <li><a href="{% url 'locations:detail' vehicle.id %}">{{vehicle.run_id}} </a> @ {{vehicle.latitude}} / {{vehicle.longitude}} and heading {{vehicle.heading}} as of {{vehicle.seconds_since_report}} seconds ago - according to pull at {{vehicle.captured}} </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No vehicles are available.</p>
{% endif %}
