Django==1.6.6
PyYAML==3.11
South==1.0
amqp==1.4.6
anyjson==0.3.3
argparse==1.2.1
awsebcli==3.2.2
billiard==3.3.0.18
celery==3.1.14
cement==2.4.0
django-common-helpers==0.6.2
django-cron==0.3.4
ipython==2.2.0
jmespath==0.6.2
kombu==3.0.22
psycopg2==2.6
python-dateutil==2.4.2
pytz==2014.7
requests==2.4.1
six==1.9.0
virtualenv==1.11.6
wsgiref==0.1.2
