container_commands:
  01_syncdb:    
    command: "python manage.py syncdb --noinput"
    leader_only: true
  02_migrate:
    command: "python manage.py migrate --noinput"
    leader_only: true

option_settings:
  - namespace: aws:elasticbeanstalk:container:python
    option_name: WSGIPath
    value: mysite/wsgi.py
  - option_name: DJANGO_SETTINGS_MODULE
    value: mysite.settings
  - option_name: RDS_DB_NAME
    value: placeholder
  - option_name: RDS_USERNAME
    value: placeholder
  - option_name: RDS_PASSWORD
    value: placeholder
  - option_name: RDS_HOSTNAME
    value: placeholder
  - option_name: RDS_PORT
    value: placeholder                